<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Button | Components</title>
    <script src="https://kit.fontawesome.com/124ff44aed.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../components.css">
</head>
<body>
    <div>
        <button class="button button-primary large-button">Large-button</button>
        <button class="button button-primary">Primary-solid</button>
        <button class="button button-primary small-button">Small-btn</button>
        <button class="button button-outline-primary">Primary-outline</button>
    </div>
    

<div>
    <button class="button button-secondary">Secondary button</button>
    <button class="button button-outline-secondary">Secondary Outline button</button>
</div>

<button class="button button-primary">
    <i class="fas fa-shopping-cart"></i>
    Add to cart
  </button>
  <button class="button button-primary">
    <i class="fab fa-instagram"></i>
    Follow on Instagram
  </button>
  <button class="button button-primary">
    <i class="fas fa-thumbs-up"></i>
    Like
  </button>

  <div>
    
        <i class="floating-button floating-button-primary fas fa-plus-circle"></i>
    
        <i class="floating-button floating-button-secondary fas fa-bars"></i>
    
  </div>

  <div class="links-container">
    <a href="#" class="link button-primary">Primary link</a>
    <a href="#" class="link button-secondary">Secondary link</a>
    <a href="#" class="link button-outline-secondary">Outline link</a>
  </div>
    

</body>
</html>