<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./form.css">
    <link rel="stylesheet" href="../components.css">
</head>
<body>
    <div class="form-container">
        <div class="form-element">
            <label class="socketui-label label-required" for="fullname">Name:</label>
        <input class="socketui-input" type="text" name="fullname" id="fullname" placeholder="Gabbar Singh" required>
        </div>
    
        <div class="form-element">
            <label class="socketui-label label-required" for="email">Email:</label>
            <input class="socketui-input" type="email" name="email" id="email" placeholder="xyz@abc.com" required>
        </div>

        <div class="form-element">
            <label class="socketui-label label-required" for="password">Password:</label>
            <input class="socketui-input" type="password" name="password" id="password" placeholder="******" required>
        </div>

        <div class="form-element">
            <label class="socketui-label" for="website-url">Website link:</label>
            <input class="socketui-input" type="url" name="website-url" id="website-url" placeholder="http://" >
        </div>

        <div class="form-element">
            <input class="socketui-input button button-primary" type="button" value="Submit">
        </div>
    </div>

</body>
</html>