<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>

    <script
      src="https://kit.fontawesome.com/124ff44aed.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="../components.css" />
    <link rel="stylesheet" href="./ratings.css" />
  </head>
  <body>
    <div class="flex-column flex-center">
      <div class="ratings-container m-s">
        <i class="fas fa-star checked"></i>
        <i class="fas fa-star checked"></i>
        <i class="fas fa-star checked"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star checked"></i>
      </div>

      <div class="badge-ratings-container m-s">
        <span class="rating-num">4.2</span>
        <i class="fas fa-star checked"></i>
      </div>
    </div>
  </body>
</html>
