<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>

    <script
      src="https://kit.fontawesome.com/124ff44aed.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="../components.css" />
    <link rel="stylesheet" href="./slider.css" />
  </head>
  <body>
    <div class="container-slider flex-row flex-center m-xl">
      <div class="slider">
        <div><input type="range" class="slider-primary" /></div>
        <div><input type="range" class="slider-secondary" /></div>
      </div>
    </div>
  </body>
</html>
