<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./responsive-images.css">
    <link rel="stylesheet" href="../components.css">
    <title>Document</title>
</head>
<body>
    <div class="circuar-img-container">

        <div>
            <h2>Circular image from landscape image</h2>
            <div class="circle-landscape-img">
                <img  src="https://picsum.photos/600/200" alt="landscape to circle image">
            </div>  
        </div>
            

        <div>
            <h2>Circular image from portrait image</h2>
            <div class="circle-portrait-img">
                <img src="https://picsum.photos/200/500" alt="postrait to circle image">
            </div>
        </div>


        <div class="round-img-container">
            <h2>Circular image from square image</h2>
            <img class="circle-img" src="https://picsum.photos/200/200" alt="landscape to circle image">
            
        </div>    
    </div>

    <div class="fluid-img-container">
        <h2 class="text-center">Fluid Image</h2>
        <div class="fluid-img">
            <img src="https://picsum.photos/500/600" alt="responsive image" 
            srcset="https://picsum.photos/200/300 200w, https://picsum.photos/400/500 300w https://picsum.photos/600/800 500w">
        </div>
    </div>
    
    
</body>
</html>