@import url('https://fonts.googleapis.com/css2?family=Lato&family=Roboto&display=swap');

@import url(../reset.css);
@import url(./utilities.css);
@import url(./alert/alert.css);
@import url(./avatar/avatar.css);
@import url(./badge/badge.css);
@import url(./button/button.css);
@import url(./cards/card.css);
@import url(./form/form.css);
@import url(./lists/lists.css);
@import url(./navigation/navigation.css);
@import url(./responsive-images/responsive-images.css);
@import url(./text-utilities/text-utilities.css);


html {
    /* font-size: 62.5%; */


    /* Colors */
    --primary-color: #FCD34D;
    --secondary-color: #2563EB;
    --black: #1F2937;
    --white: #F3F4F6;
    --gray: rgb(228, 224, 224);
    --dark-gray: rgb(105, 103, 103);


    /* Typography */
    --title-font: 'Lato', sans-serif;
    --description-font: 'Roboto', sans-serif;
}

body {
    font: var(--description-font);
}

.title-font {
    font: var(--title-font);
}

.description-font {
    font: var(--description-font);
}


@media only screen and (min-width: 600px){
	html {
        font-size: 100%;
    }
}

@media only screen and (min-width: 500px) {
    html {
        font-size: 75%;
    }
}

@media only screen and (max-width: 400px) {
    html {
        font-size: 50%;
    }
}