@import url(./reset.css);
@import url(./button/button.css);
@import url(./alert/alert.css);
@import url(./avatar/avatar.css);
@import url(./badge/badge.css);
@import url(./text-utilities/text-utilities.css);





html {
    font-size: 62.5%;


    /* Colors */
    --primary-color: #FCD34D;
    --secondary-color: #60A5FA;
    --black: #1F2937;
    --white: #F3F4F6;


    /* Typography */
    --title-font: Lato;
    --description-font: Roboto;
}


@media only screen and (min-width: 600px){
	html {
        font-size: 100%;
    }
}

@media only screen and (min-width: 500px) {
    html {
        font-size: 75%;
    }
}

@media only screen and (max-width: 400px) {
    html {
        font-size: 50%;
    }
}