<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/124ff44aed.js" crossorigin="anonymous"></script>
    
    <link rel="stylesheet" href="./card.css">
    <link rel="stylesheet" href="../components.css">
    <title>Document</title>
</head>
<body>
    <div class="cards-container-flex">

        <div class="card-vertical">
            <img class="card-img" src=https://picsum.photos/200/200 alt="">
            <div class="card-body">
                <h1 class="card-title">Title</h1>
                <h6 class="card-title-sub ">Sub-title</h6>
                <p class="card-description">Some quick example text
                     to build on the card title and make up the
                      bulk of the card's content.</p>
                <a href="#" class="card-btn link-btn button-primary">Know More</a>
            </div>
        </div>
    
        <div class="card-horizontal card-shadow">
            <img class="card-img"  src=https://picsum.photos/200/200 alt="">
            <span class="card-badge-text">Hot</span>
            <i class="fas fa-times card-dismiss"></i>
            <div class="card-body">
                <h1 class="card-title">Title</h1>
                <h6 class="card-title-sub ">Sub-title</h6>
                <p class="card-description">Some quick example text
                     to build on the card title and make up the
                      bulk of the card's content.</p>
                <a href="#" class="card-btn link-btn button-primary">Know More</a>
            </div>
        </div>
    
        <div class="card-vertical text-overlay-container">
            <div class="card-body">
                <h1 class="card-title">Title</h1>
                <p class="card-description">Some quick example text
                     to build on the card title and make up the
                      bulk of the card's content.</p>
                <a href="#" class="card-btn link-btn button-primary">Know More</a>
            </div>
            <p class="text-overlay text-extrabold text-md text-center">Overlayed Text</p>
        </div>

    </div>
    
</body>
</html>