html {
    --shadow-gray: rgb(189, 185, 185);
}


.card-vertical,
.card-horizontal,
.card-body {
    display: flex; 
    justify-content: space-around;
    padding: 5px;
    position: relative;
}

.card-vertical,
.card-horizontal {
    width: 100%;
    font-size: 1.2rem;
    border: 2px solid;
    margin: 5px;
    gap: 5px;
}

.card-vertical,
.card-body {
    flex-direction: column;
}

.card-vertical {   
    max-width: 300px;   
}

.card-horizontal {
    max-width: 700px;
    flex-direction: row;
}



.card-title {
   font-size: 2em;
   font-weight: 600;
   line-height: 1.5;
}

.card-title-sub {
    font-size: 1.2em;
    font-weight: 600;
    line-height: 1.5;
}

.card-description {
    margin: 1em 0;
}

.card-btn {
    width: fit-content;
}

.card-badge-text {
    position: absolute;
    top: 0.5rem;
    left: 0.5rem;
    background-color: var(--primary-color);
    color: var(--black);
    padding: 0.1rem 0.35rem;;
}

.card-dismiss {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    color: var(--black);
    font-size: 2rem;
}



/* ---------- text overlay ------------ */
.text-overlay-container {
    position: relative;
}

.text-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--secondary-color);
    font-weight: 900;
}


/* ------ card with shadow --------- */

.card-shadow {
    box-shadow: var(--shadow-gray) 5px 5px 2px 1px ;
}


/* ---------- cards container ------------ */

.cards-container-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}