<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <script src="https://kit.fontawesome.com/124ff44aed.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../components.css">
    <link rel="stylesheet" href="./navigation.css">
    
</head>
<body>
    <nav class="navbar-container">

        <!-- ------------------- Navbar left start ------------------- -->
        <div class="navbar-left">
            <div class="hamburger-icon nav-icon-badge">
              <i class="fas fa-bars"></i>
            </div>
            <div class="nav-logo">
              <img
                src="../../images/logo-small.png"
                alt="logo"
              />
            </div>
      
            <div class="navbar-links list-style-none"> 
                <a class="navbar-link-list-item" href="/">Home</a>
                <a class="navbar-link-list-item" href="/">Shop</a>
            </div>
          </div>

        <!-- ----------------------- NavBar left end --------------- -->
    
        <!-- ---------------------- Navbar right start -------------------- -->
    
        <div class="right-navbar">
            <div class="nav-icons list-style-none ">
                <a href="/" class="nav-icon-link">
                  <span class="badge nav-icon-badge">
                    <i class="fas fa-user"></i>
                  </span>
                  <span class="nav-icon-text">Login</span>
                </a>
                <a href="/"
                  class="nav-icon-link">
                  <span class="badge nav-icon-badge">
                    <i class="fas fa-heart"></i>
                    <span class="badge-count">10</span>
                  </span>
                  <span class="nav-icon-text">Wishlist</span>
                </a>
                <a href="/" class="nav-icon-link">
                  <span class="badge nav-icon-badge">
                    <i class="fas fa-shopping-cart"></i>
                    <span class="badge-count">10</span>
                  </span>
                  <span class="nav-icon-text">Cart</span>
                </a>
            </div>
          </div>
        <!-- ----------------------- Navbar right end -------------------------- -->
      </nav>
</body>
</html>