<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://kit.fontawesome.com/124ff44aed.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../components.css">
    <link rel="stylesheet" href="./lists.css">
</head>
<body>
      <h2 class="text-center text-xl text-bold">Unordered list</h2>
        <div class="outer-list-container">
          <div class="list-container">
            <ul>
              <li class="list-item">Item1</li>
              <li class="list-item">Item2</li>
              <li class="list-item">Item3</li>
            </ul>
          </div>
      
          <div class="list-container">
            <ul class="list-style-square">
              <li class="list-item">Item1</li>
              <li class="list-item">Item2</li>
              <li class="list-item">Item3</li>
            </ul>
          </div>
      
          <div class="list-container">
            <ul class="list-style-square">
              <li class="list-item">Item1</li>
              <li class="list-item">Item2</li>
              <li class="list-item">Item3</li>
            </ul>
          </div>
      
          <div class="list-container">
            <ul class="list-style-none">
              <li class="list-item">Item1</li>
              <li class="list-item">Item2</li>
              <li class="list-item">Item3</li>
            </ul>
          </div>
        </div>

        <hr/>

        <h2 class="text-center text-xl text-bold">Ordered list</h2>
            <div class="outer-list-container">
              <div class="list-container">
                <ol>
                  <li class="list-item">Item1</li>
                  <li class="list-item">Item2</li>
                  <li class="list-item">Item3</li>
                </ol>
              </div>

              <div class="list-container">
                <ol class="list-style-alpha">
                  <li class="list-item">Item1</li>
                  <li class="list-item">Item2</li>
                  <li class="list-item">Item3</li>
                </ol>
              </div>
        
              <div class="list-container">
                <ol reversed class="list-style-alpha">
                  <li class="list-item">Item1</li>
                  <li class="list-item">Item2</li>
                  <li class="list-item">Item3</li>
                </ol>
              </div>
        
              <div class="list-container">
                <ol class="list-style-uppercase">
                  <li class="list-item">Item1</li>
                  <li class="list-item">Item2</li>
                  <li class="list-item">Item3</li>
                </ol>
              </div>
        
              <div class="list-container">
                <ol class="list-style-roman">
                  <li class="list-item">Item1</li>
                  <li class="list-item">Item2</li>
                  <li class="list-item">Item3</li>
                </ol>
              </div>
        
              <div class="list-container">
                <ol class="list-style-upper-roman">
                  <li class="list-item">Item1</li>
                  <li class="list-item">Item2</li>
                  <li class="list-item">Item3</li>
                </ol>
              </div>
            </div>

            <hr/>

            <h2 class="text-center text-xl text-bold">Stacked list</h2>
            <div class="outer-list-container">
              <ul class="stacked-list-container">
                <li class="stacked-list-item">
                  <div class="stacked-list-content">
                    <i class="far fa-image"></i>
                    <h2 class="text-bold text-lg">List Heading 1</h2>
                    <p>
                      Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae,
                      fugiat. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ipsum,
                      quaerat.
                    </p>
                  </div>
                </li>

                <li class="stacked-list-item">
                  <div class="stacked-list-content">
                    <i class="far fa-image"></i>
                    <h2 class="text-bold text-lg">List Heading 2</h2>
                    <p>
                      Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae,
                      fugiat. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ipsum,
                      quaerat.
                    </p>
                  </div>
                </li>

                <li class="stacked-list-item">
                  <div class="stacked-list-content">
                    <i class="far fa-image"></i>
                    <h2 class="text-bold text-lg">List Heading 3</h2>
                    <p>
                      Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae,
                      fugiat. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ipsum,
                      quaerat.
                    </p>
                  </div>
                </li>
              </ul>
            </div>

</body>
</html>