

.badge {
    width: min-content;
    height: min-content;
    position: relative;
}


.badge-count {
    font-size: 1em;
    padding: 0.1rem 0.35rem;
    border-radius: 50%;
    background-color: rgb(0, 255, 76);

    position: absolute;
    top: 0%;
    right: 0%;
    transform: translate(50%, -50%);   
}


.container-badges {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.badge-text {
    font-size: 1em;
    padding: 0.1rem 0.35rem;
    border-radius: 0.05em;
<<<<<<< HEAD
    position: absolute; 
=======
    position: absolute;
>>>>>>> dev
}
