body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}









.badge {
    padding: 5px;
    border-radius: 50%;
    width: 2ex;
    height: 2ex;
    background-color: rgb(0, 255, 76);
    position: absolute;
    top: 0%;
    right: 0%;
    transform: translate(50%, -50%);
}

.container {
    font-size: 3rem;
    position: relative;
    background-color: brown;
    display: inline;
    padding: 10px;;
}



