<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Coponents | Badges</title>
    <script src="https://kit.fontawesome.com/124ff44aed.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../components.css">
</head>
<body>
    <div class="container-badges"> 
        <div class="badge">
            <i class="fa fa-bell fa-2x"></i>
            <span class="badge-count">5</span>
        </div>
    
        <div class="badge">
            <i class="fas fa-envelope fa-2x"></i>
            <span class="badge-count">9</span>
        </div>
    
        <div class="badge">
            <img class="avatar avatar-sm" src="https://picsum.photos/id/1/200/300" alt="demo-image">
            <span class="badge-count">4</span>
        </div>

    
    </div>

</body>
</html>