<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./text-utilities.css">
</head>
<body>
        <h1 class="text-xxl">This is heading h1.</h1>
        <h2 class="text-xl">This is heading h2.</h2>
        <h3 class="text-lg">This is heading h3.</h3>
        <h4 class="text-md">This is heading h4.</h4>
        <h5 class="text-sm">This is heading h5.</h5>
        <h6 class="text-xs">This is heading h6.</h6>
    


        <p class="text-xxl">This is extra-extra large text.</p>
        <p class="text-xl">This is extra large text.</p>
        <p class="text-lg">This is large text.</p>
        <p class="text-md">This is medium size text.</p>
        <p class="text-sm">This is small text.</p>
        <p class="text-xs">This is extra small text.</p>

        <p class="font-extrabold">This is extrabold font.</p>
        <p class="font-bold">This is bold font.</p>
        <p class="font-semibold ">This is semibold font.</p>        
        <p class="font-medium">This is medium font.</p>
        <p class="font-light">This is light font.</p>      
        <p class="font-extralight">This is extralight font .</p>


        <p class="text-gray text-md">This is gray text</p>
        <p class="text-center text-md">This is center text</p>
    
</body>
</html>