.dropdown {
  display: relative;
}

.dropdown-item {
  text-decoration: none;
  list-style: none;
  padding: 0 5px;
  margin: 2px 0;
  transform: scale(1.1);
  transition: ease-in-out;
}

.dropdown-list {
  display: none;
  position: absolute;
  margin-top: 5px;
  min-width: 16rem;
  padding: 10px 5px;
  background-color: var(--white);
  border: 1px solid var(--dark-gray);
}

.dropdown:hover .dropdown-button {
  transform: scale(1.1);
}

.dropdown:hover .dropdown-list {
  display: block;
}
